<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Expire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70D7F96B1CF20BC300634B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D7F97F1CF20BC400634B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D7F98A1CF20BC400634B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
